# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Project Specific
# Add the weights folder (if it’s generated or contains temporary files)
Weights/  
project_with_userprofile/dist/
project_with_userprofile/node_modules/
